:root {
  --grey: #d1d5db;
  --grey-button: #a3a5a8;
  --grey: #d0d2d4;
  --primary: #379683;
  --light-green: #5cdb95;
  --mint: #8ee4af;
  --secondary: #05386b;
  --error: #990000;
  --white: #ffffff;
  --yellow: #fac92a;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

.color-primary {
  color: var(--primary);
}

.color-yellow {
  color: var(--yellow);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

html {
  overflow: auto;
  scrollbar-gutter: stable;
}

body {
  min-height: 100vh;
}

html.fixed {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.h2 {
  text-align: center;
  font-size: 56px !important;
  margin-bottom: 32px !important;
  color: var(--secondary) !important;
}

.caption {
  font-size: 12px !important;
  color: var(--grey-button) !important;
}

.modal-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-bottom: 24px !important;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}